[Desktop Entry]
Name=TuxDrive
Comment=Synchronize Google Drive and Microsoft OneDrive
Exec=tuxdrive
Icon=tuxdrive
Terminal=false
Type=Application
Categories=Network;FileTransfer;Utility;
Keywords=OneDrive;Google Drive;cloud;sync;files;
StartupNotify=true
StartupWMClass=io.github.tuxdrive.TuxDrive
